html, body{height:100%;position:relative;overflow-x:hidden;}
body{font-family:'Roboto-Regular';font-size:14px;overflow-x:hidden;word-wrap:break-word;color:#4b4b4b;}
p{font-size:1em;}
h1{font-size:3em;}
h2{font-size:2.25em;}
h3{font-size:1.875em;}
h4{font-size:1.25em;}
h5{font-size:1em;}
h6{font-size:0.875em;}
a{color:#1595ba;}
a, a:hover, a:focus{text-decoration:none;transition:all 0.3s;}
img{max-width:100%;}
ul{list-style:none;}
header,nav,ul{margin:0;padding:0;}
.padding-0{padding:0 !important;}
.paddingtop-0{padding-top:0 !important;}
.paddingbottom-0{padding-top:0 !important;}
.paddingleft-0{padding-left:0 !important;}
.paddingright-0{padding-right:0 !important;}
.margin-0{margin:0 !important;}
.margintop-0{margin-top:0 !important;}
.marginbottom-0{margin-bottom:0 !important;}
.marginleft-0{margin-left:0 !important;}
.marginright-0{margin-right:0 !important;}
.bold{font-family:'Roboto-Bold';}
.italic{font-style:italic;}
.text-light{font-family:'Roboto-Light';}
.has-error{border-color:#a94442 !important;}
.has-error::-webkit-input-placeholder{color:#a94442;}
.has-error:-moz-placeholder{color:#a94442;}
.has-error::-moz-placeholder{color:#a94442;}
.has-error:-ms-input-placeholder{color:#a94442;}
textarea{resize:vertical;}
.text-error{display:block;margin:10px 0;color:#a94442;}
.isafe-divider-primary{width:50px;border-width:5px;border-color:#fff;margin-top:35px;margin-bottom:30px;}
.isafe-divider-secondary{width:50px;border-width:5px;border-color:#333;margin-top:35px;margin-bottom:30px;}
.isafe-divider-third{width:50px;border-width:5px;border-color:#0c2c60;margin-top:35px;margin-bottom:30px;}
.isafe-primary-color{color:#ff5900;}
.isafe-secondary-color{color:#05909a;}
.isafe-btn-primary{color:#fff;background:#df4040;border:1px solid #e7e7e7;border-radius:5px;text-align:center;display:inline-block;padding:10px 20px;-webkit-box-shadow:0 9px 9px -7px rgba(0,0,0,.1);-moz-box-shadow:0 9px 9px -7px rgba(0,0,0,.1);box-shadow:0 9px 9px -7px rgba(0,0,0,.1);}
.isafe-btn-primary:hover, .isafe-btn-primary:focus{color:#fff;background:#c32929;}
.isafe-btn-secondary{color:#fff;background:#337ab7;border:1px solid #e7e7e7;border-radius:5px;text-align:center;display:inline-block;padding:10px 20px;-webkit-box-shadow:0 9px 9px -7px rgba(0,0,0,.1);-moz-box-shadow:0 9px 9px -7px rgba(0,0,0,.1);box-shadow:0 9px 9px -7px rgba(0,0,0,.1);}
.isafe-btn-secondary:hover, .isafe-btn-secondary:focus{color:#fff;background:#64cacf;}
.isafe-btn-upload{color:#fff;background:#001f79;display:inline-block;padding:8px 20px;border:2px solid #001f79;-webkit-box-shadow:0 9px 9px -7px rgba(0,0,0,.1);-moz-box-shadow:0 9px 9px -7px rgba(0,0,0,.1);box-shadow:0 9px 9px -7px rgba(0,0,0,.1);}
.isafe-btn-upload:hover, .isafe-btn-upload:focus{color:#fff;background:#df4040;border-color:#df4040;}
button.isafe-modal-close{border:1px solid #000;padding:4px 8px;}
.isafe-form .form-control{height:40px;border-radius:0;-webkit-box-shadow:0 9px 9px -7px rgba(0,0,0,.1);-moz-box-shadow:0 9px 9px -7px rgba(0,0,0,.1);box-shadow:0 9px 9px -7px rgba(0,0,0,.1);}
.isafe-form .input-group{margin-bottom:15px;}
textarea{resize:vertical;}
.login-section{padding:15px;}
.login-section .page-header{margin:0 0 20px 0;}
.login-header{padding:15px;background:#fff;-webkit-box-shadow:0 9px 9px -7px rgba(0,0,0,.2);-moz-box-shadow:0 9px 9px -7px rgba(0,0,0,.2);box-shadow:0 9px 9px -7px rgba(0,0,0,.2);}
.login-header img{width:220px;}
.login-form{background:#e9f5ff;padding:30px 15px;margin-top:15px;border-radius:5px;}
.login-form .breadcrumb{background:#337ab7;color:#fff;}
.login-form .breadcrumb i{margin-right:5px;}
.header{padding:15px;background:#fff;position:fixed;width:100%;top:0;z-index:3;-webkit-box-shadow:0 9px 9px -7px rgba(0,0,0,.2);-moz-box-shadow:0 9px 9px -7px rgba(0,0,0,.2);box-shadow:0 9px 9px -7px rgba(0,0,0,.2);}
.logo, .leader{padding:11px 15px;border-bottom:1px solid #777;background:#fff;}
.content-wrapper{padding:80px 15px 15px;}
.main-tabs{padding:15px 15px 5px;background-color:#e9f5ff;border-radius:5px;margin:15px 0;}
.main-inner-tabs{padding:15px 15px 5px;background-color:#fdce9f;border-radius:5px;margin:15px 0;}
.main-inner-tabs .active{color:#fff;background:#df4040;border-color:#df4040;}
.main-inner-tabs a, .main-tabs a{margin:0 10px 10px 0;}
.main-tabs i, .poll-quest i{margin-right:5px;}
.main-tabs .notifCount{padding:1px;margin-left:5px;background:#ff6300;color:#fff;border-radius:50%;font-size:12px;width:20px;height:20px;text-align:center;display:inline-block;}
.header-tabs{border-top:2px solid #eeeeee;border-bottom:2px solid #eeeeee;padding:10px 0px;margin-bottom:20px;}
.isafe-table table th{font-size:15px;vertical-align:middle !important;}
.isafe-table table td{vertical-align:middle !important;}
.sidebar-nav li a i, .btn i{margin-right:5px;}
.file .isafe-btn-upload{padding:5px 20px;}
.file .glyphicon{margin-right:6px;}
.isafe-filters{background:#f9f9f9;padding:15px 15px;margin-bottom:20px;}
#wrapper{padding-left:0;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
#wrapper.toggled{padding-left:220px;}
#sidebar-wrapper{z-index:1000;left:220px;width:0;height:100%;margin-left:-220px;overflow-y:auto;overflow-x:hidden;background:#000;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
#sidebar-wrapper::-webkit-scrollbar{display:none;}
#wrapper.toggled #sidebar-wrapper{width:220px;}
#page-content-wrapper{width:100%;}
#wrapper.toggled #page-content-wrapper{margin-right:-220px;}
.sidebar-nav{position:absolute;top:0;width:220px;margin:0;padding:0;list-style:none;}
.sidebar-nav li{position:relative;line-height:20px;display:inline-block;width:100%;}
.sidebar-nav li:before{content:'';position:absolute;top:0;left:0;z-index:-1;height:100%;width:3px;background-color:#000;-webkit-transition:width .2s ease-in;-moz-transition:width .2s ease-in;-ms-transition:width .2s ease-in;transition:width .2s ease-in;}
.sidebar-nav li:first-child a{color:#fff;background-color:#1a1a1a;}
.sidebar-nav li:nth-child(2):before{background-color:#ee0101;}
.sidebar-nav li:nth-child(3):before{background-color:#001f79;}
.sidebar-nav li:nth-child(4):before{background-color:#0f94bd;}
.sidebar-nav li:nth-child(5):before{background-color:#4978ff;}
.sidebar-nav li:nth-child(6):before{background-color:#df4040;}
.sidebar-nav li:nth-child(7):before{background-color:#ead24c;}
.sidebar-nav li:nth-child(8):before{background-color:#2d2366;}
.sidebar-nav li:nth-child(9):before{background-color:#35acdf;}
.sidebar-nav li:hover:before, .sidebar-nav .active:before, .sidebar-nav li.open:hover:before{width:100%;-webkit-transition:width .2s ease-in;-moz-transition:width .2s ease-in;-ms-transition:width .2s ease-in;transition:width .2s ease-in;}
.sidebar-nav li a{display:block;color:#ddd;text-decoration:none;padding:10px 15px 10px 30px;}
.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus, .sidebar-nav li.active a{color:#fff;text-decoration:none;background-color:transparent;}
.sidebar-nav > .sidebar-brand{font-size:20px;line-height:44px;}
.sidebar-nav .dropdown-menu{position:relative;width:100%;padding:0;margin:0;border-radius:0;border:none;background-color:#222;box-shadow:none;padding-left:25px;}
.hamburger{position:relative;z-index:999;width:32px;height:32px;background:transparent;border:none;}
.hamburger:hover, .hamburger:focus, .hamburger:active{outline:none;}
.hamburger.is-closed:before{content:'';display:block;width:100px;font-size:14px;color:#fff;line-height:32px;text-align:center;opacity:0;-webkit-transform:translate3d(0, 0, 0);-webkit-transition:all .35s ease-in-out;}
.hamburger.is-closed:hover:before{opacity:1;display:block;-webkit-transform:translate3d(-100px, 0, 0);-webkit-transition:all .35s ease-in-out;}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom{position:absolute;left:0;height:4px;width:100%;}
.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom{background-color:#000;}
.hamburger.is-closed .hamb-top{top:5px;-webkit-transition:all .35s ease-in-out;}
.hamburger.is-closed .hamb-middle{top:50%;margin-top:-2px;}
.hamburger.is-closed .hamb-bottom{bottom:5px;-webkit-transition:all .35s ease-in-out;}
.hamburger.is-closed:hover .hamb-top{top:0;-webkit-transition:all .35s ease-in-out;}
.hamburger.is-closed:hover .hamb-bottom{bottom:0;-webkit-transition:all .35s ease-in-out;}
.hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom{background-color:#000;}
.hamburger.is-open .hamb-top, .hamburger.is-open .hamb-bottom{top:50%;margin-top:-2px;}
.hamburger.is-open .hamb-top{-webkit-transform:rotate(45deg);-webkit-transition:-webkit-transform .2s cubic-bezier(.73, 1, .28, .08);}
.hamburger.is-open .hamb-middle{display:none;}
.hamburger.is-open .hamb-bottom{-webkit-transform:rotate(-45deg);-webkit-transition:-webkit-transform .2s cubic-bezier(.73, 1, .28, .08);}
.hamburger.is-open:before{content:'';display:block;width:100px;font-size:14px;color:#fff;line-height:32px;text-align:center;opacity:0;-webkit-transform:translate3d(0, 0, 0);-webkit-transition:all .35s ease-in-out;}
.hamburger.is-open:hover:before{opacity:1;display:block;-webkit-transform:translate3d(-100px, 0, 0);-webkit-transition:all .35s ease-in-out;}
.overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(250,250,250,.8);z-index:1;}
.certificate-error-text{padding:20px;margin:30px 0;background:#e9f5ff;}
.certificate-error-text h3{margin-bottom:40px;}
.help-upload{margin:20px 0;padding-top:10px;border-top:2px solid #eeeeee;}
.help-upload .note {color: red;margin-bottom:10px;}
.help-upload p{margin:0;}
.help-upload img{margin-top:20px;}
/*gridview*/
.table table tbody tr td a,
.table table tbody tr td span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.table table > tbody > tr > td > span {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.table table > tbody > tr > td:first-child > a,
.table table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.table table > tbody > tr > td:last-child > a,
.table table > tbody > tr > td:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.table table > tbody > tr > td > a:hover,
.table table > tbody > tr > td > span:hover,
.table table > tbody > tr > td > a:focus,
.table table > tbody > tr > td > span:focus {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
/*end gridview */

@media screen and (min-width:990px) and (max-width:1024px){.nd-profile-thumb{margin-top:-69px;}
}
@media screen and (min-width:651px) and (max-width:768px){}
@media screen and (min-width:501px) and (max-width:650px){}
@media screen and (min-width:300px) and (max-width:500px){}
@font-face{font-family:'Roboto-Regular';src:url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto-Bold';src:url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');font-weight:normal;font-style:normal;}