﻿<%@ Page Title="" Language="C#" MasterPageFile="~/user/MasterPage.master" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="index" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server"></asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
  <div class="infs-contentloader">
    <asp:PlaceHolder ID="iframeDiv" ClientIDMode="Static" runat="server"/>
    <asp:Literal runat='server' ID='XIFRAME' ClientIDMode="Static"></asp:Literal>

  </div>
</asp:Content>
