﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PasswordPolicy2.aspx.cs" Inherits="InfosysiSafe.User.PasswordPolicy2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h2>Password Policy Scenario - Response option 2</h2>
            <asp:Button ID="btnPrev" runat="server" Text="Button" />
            <asp:Button ID="btnNext" runat="server" Text="Button" />
        </div>
    </form>
</body>
</html>
