﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Module03-3-5.aspx.cs" Inherits="InfosysiSafe.html.Module03_3_5" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta charset="utf-8">
<title>Infosys : iSAFE</title>
<meta content="BlendTrans(Duration=0.01)" http-equiv="Page-Exit" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- Custom CSS -->
    <script src="../js/jquery.js"></script>
    
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="stylesheet" href="../css/aos.css">
<link rel="stylesheet" href="../css/infosys.css">
 <link href="../css/no-scroll.css" rel="stylesheet" />  
     <link href="../css/PhishEmail.css" rel="stylesheet" />
    <script src="../js/popup111.min.js"></script>
    <link href="../css/activity.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/popup.css">
    <style>
        body{cursor:pointer}
    </style>
</head>

<body class="loaded-content congrats-bg">
      <div class="hide" id="availableLanguagesContainerBody"> <span>video</span> </div>
<form id="form1" runat="server">
  <!-- Main Content -->
  <div class="infs-body-container hide-on-portrait">
    <div class="container">
      <div class="module-title">
        <h2 class="infs-heading animation-left">What Is Wrong with the Desk?</h2>
      </div>
        <div class="infs-counter">
	   <h4><span id="ClickCount"></span> errors out of 6 spotted.</h4>
        </div>
	<div id="box">
  <img src="../images/clear-desk-bg.jpg" class="static">
  
 <img src="../images/pendrive.png" id="Clspendrive" class="imgpendrive pendrive popup"  onclick="Clear('pendrive','Clspendrive')"><span class="popuptext" id="pendrive">Storage media left unattended.</span>
 <img src="../images/documents.png" id="Clsdocuments" class="imgdocument documents" onclick="Clear('documents','Clsdocuments')"><span class="popuptext1" id="documents">Confidential information is left carelessly.</span>
 <img src="../images/desk-screen.png" id="Clsdeskscreen" class="imgdeskscreen deskscreen" onclick="Clear('deskscreen','Clsdeskscreen')"><span class="popuptext2" id="deskscreen">Computer screen not locked.</span>
 <img src="../images/dustbin.png" id="Clsdustbin" class="imgdustbin dustbin" onclick="Clear('dustbin','Clsdustbin')"><span class="popuptext3" id="dustbin">Documents and CDs thrown in dustbin without shredding.</span>
 <img src="../images/document-drawer.png" id="Clsdrawer" class="imgdocumentdrawer drawer" onclick="Clear('drawer','Clsdrawer')"><span class="popuptext4" id="drawer">Confidential information in unlocked cabinets.</span>
 <img src="../images/whiteboard.png" id="Clsboard" class="imgwhiteboard board" onclick="Clear('board','Clsboard')"><span class="popuptext5" id="board">Confidential information on white board.</span>
</div>
    </div>
  </div>
  <!-- Foating Instructions -->
  <div class="infs-instruction hide-on-portrait" id="instruction">
    <div class="ins-icon"><img src="../images/icons/icon-idea.png" alt=""></div>
    <p>Identify the mistakes in the image by clicking on them.</p>
  </div>
        <div id="myModal" class="modal fade"  data-backdrop="static" >
    <div class="modal-dialog">
        <div class="modal-content text-center">
              <div class="modal-body">
				<h5><b>Clear desk activity successfully completed.</b></h5>
				<asp:Button ID="btnStart"  class="btn infs-btn-secondary infs-btn-secondary-popup" OnClick="btnStart_Click" runat="server" Text="CONTINUE" />
			 </div>
		</div>
    </div>
</div>

  <script type="text/javascript" src="../js/infosys-lib.js"></script> 
  <script type="text/javascript" src="../js/aos.js"></script> 
  <script type="text/javascript" src="../js/infosys.js"></script>
    <script src="../js/activity.js"></script>
</form>

</body>
</html>
