﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Module02-2-6.aspx.cs" Inherits="InfosysiSafe.html.Module02_2_6" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta charset="utf-8">
<title>Infosys : iSAFE</title>
<meta content="BlendTrans(Duration=0.01)" http-equiv="Page-Exit" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- Custom CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="stylesheet" href="../css/swipe.css">
<link rel="stylesheet" href="../css/aos.css">
<link rel="stylesheet" href="../css/infosys.css">
<link href="../css/no-scroll.css" rel="stylesheet" />  
<link rel="stylesheet" href="../css/folderdocument.css">
<script src="../js/folderdocument.js"></script>
<link rel="stylesheet" href="../css/popup.css">
<script src="../js/popup111.min.js"></script>
    <style>
        img{cursor:pointer}

    </style>
</head>
<body class="loaded-content classification-info-bg">
 <div class="hide" id="availableLanguagesContainerBody"><span>video</span> </div>
<form id="form1" runat="server">
  <!-- Main Content Activity -->
  <div class="infs-body-container">
    <div class="container">
      <div class="module-title">
        <h2 data-aos="zoom-in" class="infs-heading animation-left">Drag and drop the items in appropriate drawers</h2>
      </div>
      <!--Activity Start-->
      <div class="classification-activity">
         
        <div class="row">
          <div class="col-6">
            <div class="item-dragable">
              <div  id="1" class="" >
                  <img src="../images/classification/Source_code.png" draggable="true" ondragstart="drag(event)" class="pointer" id="drag1">
              </div>
              <div id="2" class="d-none"><img src="../images/classification/proposal.png" draggable="true" ondragstart="drag(event)" class="pointer"  id="drag2"/>
              </div>
              <div id="3" class="d-none">
                  <img src="../images/classification/personal_information.png" draggable="true"  class="pointer" ondragstart="drag(event)" id="drag3">
              </div>
              <div id="4" class="d-none">
                  <img src="../images/classification/Scope_of_work.png" draggable="true" class="pointer" ondragstart="drag(event)" id="drag4">
              </div>
                <div id="5" class="d-none">
                  <img src="../images/classification/information_security_policy.png" class="pointer" draggable="true" ondragstart="drag(event)" id="drag5">
              </div>
                <div id="6" class="d-none">
                  <img src="../images/classification/Internal_company_Announcement.png" class="pointer" draggable="true" ondragstart="drag(event)" id="drag6">
              </div>
                <div id="7" class="d-none">
                  <img src="../images/classification/Brochures.png" class="pointer" draggable="true" ondragstart="drag(event)" id="drag7">
              </div>
                <div id="8" class="d-none">
                  <img src="../images/classification/infosys_com.png" class="pointer" draggable="true" ondragstart="drag(event)" id="drag8">
              </div>
            </div>
              
          </div>
            
          <div class="col-6">
            <div class="drawers">
              <div   ><img   id="div1" src="../images/classification/drawer-1.png" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div><img  id="div2" src="../images/classification/drawer-2.png"  ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div><img  id="div3" src="../images/classification/drawer-3.png"  ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              <div ><img id="div4" src="../images/classification/drawer-4.png" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            </div>
          </div>
			<div id="right"></div>
        </div>
           
      </div>
      <!--Activity End--> 
    
  <div id="myModal" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-body">
				<h5>You got <span id="score"></span> out of 8 right.</h5>
				<asp:Button ID="btnStart"  class="btn infs-btn-secondary infs-btn-secondary-popup" OnClick="btnStart_Click"  runat="server" Text="CONTINUE" />
            </div>
        </div>
    </div>
</div>
    </div>
  </div>
  
  <!--<div class="check"><svg  class='checkmark' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 52 52'><circle class='checkmark_circle_success' cx='26' cy='26' r='25' fill='#7ac142'/><path class='checkmark_check' fill='none' d='M14.1 27.2l7.1 7.2 16.7-16.8'/></svg></div>-->
  <!-- Foating Instructions -->
  <div class="infs-instruction" id="instruction">
    <div class="ins-icon"><img src="../images/icons/icon-drag.png" alt=""></div>
    <p>Drag and drop the items in appropriate drawers.</p>
  </div>
  <!-- Custom Javascript --> 
  <script type="text/javascript" src="../js/infosys-lib.js"></script> 
  <script type="text/javascript" src="../js/aos.js"></script> 
  <script type="text/javascript" src="../js/infosys.js"></script>
</form>
      <audio id="audiocross">
  <source src="../audio/Wrong.wav" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
    <audio id="audiocheck">
  <source src="../audio/Right.wav" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
</body>
</html>
